.movie-details-container {
    display: flex;    
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 4rem;
}
  
.movie-details-container > div {
    margin-top: 1rem;
    padding: 20px;
}

.movie-details {
    flex: 2;
    margin-left: 5rem;
}

.movie-poster {
    flex: 1;
    margin-left: 0px;
}

.movie-poster > img {
    width: 25rem;
}

.movie-details .movie-title {
    margin-top: 2rem;
}

.genres-container {
    display: inline-flex;
}

.genres-container .genre-bubble {
    width: 6rem;     
    height: 1.75rem;
    border-radius: 10px;
    text-align: center;
    margin-left: .1rem;
    margin-right: .1rem;
    color: white;
}

.genres-container .red {
    background-color: red;
}

.genres-container .green {
    background-color: green;
}